@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;

  max-width: 1600px;
}

header,
main,
footer {
  padding-top: 1rem;
}

header {
  display: grid;
  font-size: 1.3rem;
  font-weight: 500;
  grid-area: header;
  padding: 1rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  margin: 1rem;
  list-style-type: none;
}

.navbar li {
  margin: 1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.Logo {
  width: 100px;
  height: auto;
  margin-top: 1px;
}

.navlink {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.navlink:hover {
  text-decoration: underline;
  text-decoration-color: #e6bd43;
  font-weight: bold;
}

.navlink.active {
  text-decoration: underline;
  text-decoration-color: #e6bd43;
  font-weight: bold;
}

#contact {
  background-color: #e6bd43;
  padding: 1rem;
  font-weight: bold;
}

#contact:hover {
  background-color: black;
  color: #e6bd43;
}

main {
  grid-area: main;
}

.flex-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/img/bakgrunn.jpg");
  background-size: cover;
  margin-bottom: 1rem;
}

.flex-section h1 {
  font-size: 50px;
  font-weight: bold;
}

.flex-section p {
  padding: 0 4rem;
}

.gulstripe {
  text-decoration: underline #e6bd43;
  margin: 3rem;
  font-size: 3.5rem;
  font-weight: bold;
}

#knapper {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
#knapper a {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 3.5rem;
  text-decoration: none;
  padding: 1rem;
  border-style: ridge;
  border-color: black;
  color: black;
}

#knapper a:hover {
  background-color: black;
  color: #e6bd43;
}

.bilder {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 1rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 692px;
}

#storbilde {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 4rem;
}

#storbilde img {
  flex-grow: 3;
  max-width: 692px;
}

#read {
  display: flex;
  background-color: #e6bd43;
  align-self: center;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 1rem;
}

#read:hover {
  background-color: black;
  color: #e6bd43;
}

#subheading {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10rem 2rem 10rem;
}

#subheading h2 {
  font-size: 30px;
  font-weight: bold;
}

#gul {
  display: flex;
  background-color: #e6bd43;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 1rem;
}

#gul img {
  max-width: 100%;
  align-self: center;
  margin-right: 20px;
  padding: 1rem;
}

#head {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(/img/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
  background-size: cover;
  margin-bottom: 1rem;
  padding: 7rem;
  font-size: 4rem;
  font-weight: bold;
  background-size: 100%;
}

#gul section {
  padding: 1rem;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

#gul section h3 {
  font-size: 20px;
}

#about {
  display: flex;
  background-color: #e6bd43;
  align-self: center;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 1rem;
  border: solid;
}

#about:hover {
  background-color: black;
  color: #e6bd43;
}

#services {
  display: flex;
  padding: 0 5rem 3rem;
}

#our-service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 5rem;
  font-weight: bold;
}

.branding {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 4rem;
  flex-direction: column;
  align-items: center;
}

.branding i {
  font-size: 3rem;
}

#newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c5c3c3;
}

#newsletter h2 {
  font-size: 3rem;
}

#newsletter section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin-bottom: 3rem;
}

#newsletter input {
  height: 3rem;
  width: 100%;
  margin-right: 2px;
}

#signmeup {
  background-color: #e6bd43;
  width: 100%;
}

#signmeup:hover {
  background-color: black;
  color: #e6bd43;
}

footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 2rem;
}

footer p {
  color: #fff;
}

footer section {
  display: flex;
  font-size: 2.5rem;
  align-items: flex-end;
}

footer section a {
  margin-right: 1rem;
}
.top-link {
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 1.2em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 1rem;
  opacity: 100%;
  border-style: ridge;
  border-color: white;
}

@media screen and (max-width: 600px) {
  #grid-container {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  .navbar {
    flex-direction: column;
  }
  main {
    grid-template-columns: 100%;
  }

  #gul {
    flex-direction: column;
  }

  #gul img {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  #about {
    width: 100%;
    margin: 1rem 0;
  }

  #services {
    padding: 0;
  }

  #our-service {
    font-size: 3rem;
  }

  .branding {
    margin: 0;
  }

  #newsletter section {
    flex-direction: column;
    align-items: stretch;
  }

  .bilder {
    flex-direction: column;
  }
}
