body {
  font-family: Arial, Helvetica, sans-serif;
}
#grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

header,
main,
footer {
  padding: 1rem;
}

header {
  font-size: 1.3rem;
  font-weight: 500;
  grid-area: header;
}

header nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navbar {
  display: flex;
  margin: 1rem;
  list-style-type: none;
}

.navbar li {
  margin: 1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}

#Logo {
  width: 100px;
  height: auto;
  margin-top: 1px;
}

#home {
  text-decoration: underline;
  text-decoration-color: #e6bd43;
  font-weight: bold;
}

#contact {
  background-color: #e6bd43;
  padding: 1rem;
  font-weight: bold;
}
